@page "/"

@implements IDisposable;

@if (ShowSpinner)
{
    <div class="sb-content-overlay">
        <div class="sb-loading">
            <svg class="circular" height="40" width="40">
                <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="6" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <style>
        #main-page {
            pointer-events: none;
            cursor: auto;
        }
    </style>
}

<div class="control-section dashboard-page">
    <div class="row" style="margin-bottom: 16px;">
        <p class="page-title" style="display: inline-block;margin-bottom: -2em; margin-top: 0.175em">Dashboard</p>
        <div class="col-md-3 col-xs-12 col-xl-6 col-lg-3 daterange overview-range-picker">
            <div id="daterange-overlay">
                <div id="daterange-wrapper">
					@if (Render)
					{
                    	<SfDateRangePicker TValue="DateTime" AllowEdit="false" ShowClearButton="false" Format="MM/dd/yyyy" StartDate="@ExpenseDataService.StartDate" EndDate="@ExpenseDataService.EndDate" Min="@minDate" Max="@maxDate">
                        	<DateRangePickerEvents TValue="DateTime" ValueChange="OnDateRangeChange"></DateRangePickerEvents>
                        	<DateRangePickerPresets>
                            	<DateRangePickerPreset Label="Last Month" Start="@lastMonthStart" End="@lastMonthEnd"></DateRangePickerPreset>
                            	<DateRangePickerPreset Label="Last 3 Months" Start="@last3MonthStart" End="@last3MonthEnd"></DateRangePickerPreset>
                          		<DateRangePickerPreset Label="All Time" Start="@allTimeStart" End="@allTimeEnd"></DateRangePickerPreset>
                        	</DateRangePickerPresets>
                    	</SfDateRangePicker>
					}
                </div>
            </div>
        </div>
    </div>
    <div>
        <ExpCards @ref="CardsRef" IncomeData="@IncomeData" ExpenseData="@ExpenseData"></ExpCards>
    </div>
    <ExpPieChart @ref="PieChartRef" Render="@Render" ExpenseData="@ExpenseData"></ExpPieChart>
    <div>
        <div>
            <div class="line-chart-area">
                <ExpLineChart @ref="lineChart" Render="@Render" LineChartData="@LineChartData"></ExpLineChart>
            </div>
            <div class="column-chart-area">
                <ExpColumnChart @ref="columnChart" Render="@Render" ColChartIncomeData="@ColChartIncomeData" ColChartExpenseData="@ColChartExpenseData"></ExpColumnChart>
            </div>
        </div>
        <ExpGrid Render="@Render" RecentExpenseData="@RecentExpenseData" ExpenseGridCreated="@(() => { ShowSpinner = false; StateHasChanged(); })"></ExpGrid>
    </div>
</div>

@code{
    [CascadingParameter]
    private ExpenseDataService ExpenseDataService { get; set; }

    private ExpCards CardsRef;
    private ExpPieChart PieChartRef;
    private ExpLineChart lineChart;
    private ExpColumnChart columnChart;
    private List<ExpenseData> LineChartData;
    private List<ExpenseData> ColChartIncomeData;
    private List<ExpenseData> ColChartExpenseData;
    private IEnumerable<ExpenseData> RecentExpenseData;
    private IEnumerable<ExpenseData> IncomeData;
    private IEnumerable<ExpenseData> ExpenseData;
    private List<TempExpenseData> TempExpenseDS;
    private List<TempExpenseData> TempIncomeDS;
    private bool ShowSpinner = true;
    private bool Render;
    private DateTime minDate = new DateTime(2019, 06, 01, 00, 00, 00);
    private DateTime maxDate = new DateTime(2019, 11, 30, 23, 59, 59);
    private DateTime lastMonthStart = new DateTime(2019, 10, 01, 00, 00, 00);
    private DateTime lastMonthEnd = new DateTime(2019, 10, 31, 23, 59, 59);
    private DateTime last3MonthStart = new DateTime(2019, 09, 01, 00, 00, 00);
    private DateTime last3MonthEnd = new DateTime(2019, 11, 30, 23, 59, 59);
    private DateTime allTimeStart = new DateTime(2019, 06, 01, 00, 00, 00);
    private DateTime allTimeEnd = new DateTime(2019, 11, 30, 23, 58, 58);

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        InitializeData();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await base.OnAfterRenderAsync(firstRender);
            await InvokeAsync(async () =>
            {
                await Task.Delay(1);
                Render = true;
                this.UpdateChartData();
                StateHasChanged();
            });
        }
    }

    private void InitializeData()
    {
        DateTime start = ExpenseDataService.StartDate; DateTime end = ExpenseDataService.EndDate;
        var commonData = ExpenseDataService.ExpenseData.Where(s => s.DateTime >= start && s.DateTime <= end);
        ExpenseDataService.SetCurrentData(commonData);
        var ExpenseD = new List<ExpenseData>();
        var IncomeD = new List<ExpenseData>();
        TempExpenseDS = new List<TempExpenseData>();
        TempIncomeDS = new List<TempExpenseData>();
        var CurDateTime = new ExpenseData();
        var LineDS = new List<ExpenseData>();
        foreach (var data in commonData)
        {
            var tempData = new ExpenseData { Amount = data.Amount, Category = data.Category, DateTime = data.DateTime, Description = data.Description, FormattedDate = data.FormattedDate, MonthFull = data.MonthFull, MonthShort = data.MonthShort, PaymentMode = data.PaymentMode, TransactionType = data.TransactionType, UniqueId = data.UniqueId };
            if (data.TransactionType == "Expense")
            {
                ExpenseD.Add(data);
                int index = TempExpenseDS.FindIndex(s => s.Month == tempData.DateTime.Month);
                if (index >= 0)
                {
                    CurDateTime = TempExpenseDS[index].ExpenseData;
                    TempExpenseDS[index].ExpenseData.Amount = CurDateTime.Amount + tempData.Amount;
                }
                else
                {
                    TempExpenseDS.Add(new TempExpenseData { Month = tempData.DateTime.Month, ExpenseData = tempData });
                    index = TempExpenseDS.Count() - 1;
                    TempExpenseDS[index].ExpenseData.DateTime = new DateTime(TempExpenseDS[index].ExpenseData.DateTime.Year, TempExpenseDS[index].ExpenseData.DateTime.Month, 1, 0, 0, 0, 0);
                }
            }
            else
            {
                IncomeD.Add(data);
                int index = TempIncomeDS.FindIndex(s => s.Month == tempData.DateTime.Month);
                if (index >= 0)
                {
                    CurDateTime = TempIncomeDS[index].ExpenseData;
                    TempIncomeDS[index].ExpenseData.Amount = CurDateTime.Amount + tempData.Amount;
                }
                else
                {
                    TempIncomeDS.Add(new TempExpenseData { Month = tempData.DateTime.Month, ExpenseData = tempData });
                    index = TempIncomeDS.Count() - 1;
                    TempIncomeDS[index].ExpenseData.DateTime = new DateTime(TempIncomeDS[index].ExpenseData.DateTime.Year, TempIncomeDS[index].ExpenseData.DateTime.Month, 1, 0, 0, 0, 0);
                }
            }
        }
        ExpenseData = ExpenseD; IncomeData = IncomeD;
        LineChartData = LineDS;
        RecentExpenseData = commonData.OrderByDescending(s => s.DateTime).Take(5);
    }

    private void UpdateChartData()
    {
        var LineD = new List<TempExpenseData>();
        var LineDS = new List<ExpenseData>();
        var ColIncomeDS = new List<ExpenseData>();
        foreach (var data in this.TempIncomeDS)
        {
            ColIncomeDS.Add(data.ExpenseData);
            ProcessLineData(data.ExpenseData, LineD, LineDS);
        }
        ColChartIncomeData = ColIncomeDS;
        var ColExpenseDS = new List<ExpenseData>();
        foreach (var data in TempExpenseDS)
        {
            ColExpenseDS.Add(data.ExpenseData);
            ProcessLineData(data.ExpenseData, LineD, LineDS);
        }
        ColChartExpenseData = ColExpenseDS;
        LineChartData = LineDS;
    }

    private void ProcessLineData(ExpenseData data, List<TempExpenseData> LineD, List<ExpenseData> LineDS)
    {
        var CurDateTime = new ExpenseData();
        var lineData = new ExpenseData { Amount = data.Amount, Category = data.Category, DateTime = data.DateTime, Description = data.Description, FormattedDate = data.FormattedDate, MonthFull = data.MonthFull, MonthShort = data.MonthShort, PaymentMode = data.PaymentMode, TransactionType = data.TransactionType, UniqueId = data.UniqueId };
        int idx = LineD.FindIndex(s => s.Month == lineData.DateTime.Month);
        if (idx >= 0)
        {
            CurDateTime = LineD[idx].ExpenseData;
            LineD[idx].ExpenseData.Amount = Math.Abs(CurDateTime.Amount - lineData.Amount);
        }
        else
        {
            LineD.Add(new TempExpenseData { Month = lineData.DateTime.Month, ExpenseData = lineData });
            LineDS.Add(LineD[LineD.Count - 1].ExpenseData);
        }
    }

    private async Task OnDateRangeChange(RangePickerEventArgs<DateTime> args)
    {
        ExpenseDataService.SetDate(args.StartDate, args.EndDate);
        InitializeData();
        UpdateChartData();
        StateHasChanged();
        await lineChart?.Refresh(LineChartData);
        await columnChart?.Refresh(ColChartIncomeData, ColChartExpenseData);
        CardsRef?.RefreshCards(IncomeData, ExpenseData);
        PieChartRef?.RefreshPieChart(ExpenseData);
    }

    public void Dispose()
    {
        CardsRef = null;
        PieChartRef = null;
    }

    private class TempExpenseData
    {
        public int Month { get; set; }
        public ExpenseData ExpenseData { get; set; }
    }
}

<style>
    #main-page {
        overflow-x: hidden;
        background: linear-gradient(-141deg, #EEF5F7 14%, #EEF2FB 100%);
    }

    .sidebar-Rightpane {
        padding-bottom: 18px;
        margin-right: -2px;
    }
</style>